<?xml version="1.0" encoding="utf-8"?>
<manifest 
	package="com.wifi.sapguestconnect"
    xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.37 Alpha" android:versionCode="37">

<uses-sdk
 android:minSdkVersion="7"
 android:targetSdkVersion="18" />    

<supports-screens
     android:smallScreens="true"
     android:normalScreens="true"
     android:largeScreens="true"
     android:anyDensity="true"
   />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

<application 
    	android:label="@string/app_name" 
    	android:icon="@drawable/hp_connect" 
    	android:allowBackup="true">

    
	<service android:name=".service.AutoconnectService" />
	<service android:name=".wifi.WatchdogService" />
	
	<receiver android:name=".wifi.WatchdogAutostarter">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
			<category android:name="android.intent.category.HOME" />
		</intent-filter>
	</receiver>
	
	<activity android:name="WifiSettings" android:theme="@style/AppTheme">
		<intent-filter>
	
		</intent-filter>
	</activity>
	
	<activity android:name="WiFiConnect" android:theme="@style/AppTheme">
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
	       	<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	
	<activity android:name=".preferences.SettingsActivity" android:theme="@style/AppTheme" />
</application>

</manifest> 